body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
}
.header-logo .logo-web {
  color: #2e2f42;
}
.nav-list .nav-item {
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
}
.header-address {
  font-style: normal;
}
.list-cont .contacts-link {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-list .nav-item:hover,
.list-cont .contacts-link:hover,
.nav-list .nav-item:focus,
.list-cont .contacts-link:focus {
  color: #404bbf;
}
.section-hero {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-btn {
  cursor: pointer;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
.title-benefits {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.title-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-team {
  background-color: #F4F4FD;
}
.item-team {
  background-color: #FFFFFF;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.page-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
}
.footer-logo .logo-web {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.end-page {
  background-color: #2e2f42;
}